{% extends 'layouts/etudiantLayout.html.twig' %}

{% block title %}Mes Demandes{% endblock %}

{% block body %}
    <section id="main">
        <div class="dashboard" id="dashboard">
            <div class="row">
                <div class="col-md-6">
                    <h1>Mes Demandes</h1>
                </div>
            </div>

            <div class="row mt-5">

                <div class="col-md-12">
                    <div class="card ">
                        <h4 class="card-title" style="text-align: center;font-weight: bold;background-color: rgb(33, 37, 41)">Liste</h4>
                        <div class="card-body align-items-center mt-3">
                            <div class="form-row mb-3">
                            </div>
                            <table class="table" style="margin-top:20px;">
                                <thead>
                                <tr>
                                   <td>ID</td>
                                    <td>Type</td>
                                    <td>Staut
                                    <th>Actions</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for demande in demandes %}


                                    <tr>
                                        <td>{{ demande.id }}</td>
                                        <td>{{demande.type}}</td>
                                        <td>{{ demande.statut }}</td>
                                  
                                    </tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                {% if demande.statut = 'Terminer' %}
                                                    <a href="{{ path('certificat_generator', {'id': demande.id}) }}" class="btn btn-success btn-sm btn-icon icon-left text-light"> Télécharger</a>
                                                {% else %}

                                                {% endif  %}
                                            </div>
                                        </div>
                                    </td>

                                {% else %}
                                    <tr>
                                        <td colspan="7"> aucun enregistrement</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row mt-3">
                                <div class="col-md-2">
                                    <a  class="btn btn-success " href={{ path('demande_etudiant_new') }} >Nouveau</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}