{% extends 'base.html.twig' %}

{% block title %}Etudiant index{% endblock %}

{% block body %}
    <h1>Etudiant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CodeApogee</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Cne</th>
                <th>Cin</th>
                <th>DateNaissance</th>
                <th>VilleNaissance</th>
                <th>PaysNaissance</th>
                <th>Sexe</th>
                <th>Adresse</th>
                <th>AnneePremiereInscription</th>
                <th>AnneePremiereInscriptionSup</th>
                <th>AnneePremiereInscriptionUniMaro</th>
                <th>CodeBac</th>
                <th>SerieBac</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.id }}</td>
                <td>{{ etudiant.codeApogee }}</td>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.cne }}</td>
                <td>{{ etudiant.cin }}</td>
                <td>{{ etudiant.dateNaissance ? etudiant.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ etudiant.villeNaissance }}</td>
                <td>{{ etudiant.paysNaissance }}</td>
                <td>{{ etudiant.sexe }}</td>
                <td>{{ etudiant.adresse }}</td>
                <td>{{ etudiant.anneePremiereInscription }}</td>
                <td>{{ etudiant.anneePremiereInscriptionSup }}</td>
                <td>{{ etudiant.anneePremiereInscriptionUniMaro }}</td>
                <td>{{ etudiant.codeBac }}</td>
                <td>{{ etudiant.serieBac }}</td>
                <td>
                    <a href="{{ path('etudiant_show', {'id': etudiant.id}) }}">show</a>
                    <a href="{{ path('etudiant_edit', {'id': etudiant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('etudiant_new') }}">Create new</a>
{% endblock %}
