{% extends 'base.html.twig' %}

{% block title %}Etudiant{% endblock %}

{% block body %}
    <h1>Etudiant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiant.id }}</td>
            </tr>
            <tr>
                <th>CodeApogee</th>
                <td>{{ etudiant.codeApogee }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ etudiant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ etudiant.prenom }}</td>
            </tr>
            <tr>
                <th>Cne</th>
                <td>{{ etudiant.cne }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ etudiant.cin }}</td>
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ etudiant.dateNaissance ? etudiant.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>VilleNaissance</th>
                <td>{{ etudiant.villeNaissance }}</td>
            </tr>
            <tr>
                <th>PaysNaissance</th>
                <td>{{ etudiant.paysNaissance }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ etudiant.sexe }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ etudiant.adresse }}</td>
            </tr>
            <tr>
                <th>AnneePremiereInscription</th>
                <td>{{ etudiant.anneePremiereInscription }}</td>
            </tr>
            <tr>
                <th>AnneePremiereInscriptionSup</th>
                <td>{{ etudiant.anneePremiereInscriptionSup }}</td>
            </tr>
            <tr>
                <th>AnneePremiereInscriptionUniMaro</th>
                <td>{{ etudiant.anneePremiereInscriptionUniMaro }}</td>
            </tr>
            <tr>
                <th>CodeBac</th>
                <td>{{ etudiant.codeBac }}</td>
            </tr>
            <tr>
                <th>SerieBac</th>
                <td>{{ etudiant.serieBac }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('etudiant_index') }}">back to list</a>

    <a href="{{ path('etudiant_edit', {'id': etudiant.id}) }}">edit</a>

    {{ include('etudiant/_delete_form.html.twig') }}
{% endblock %}
